<div class="row" >

	<div class="col-xs-3">
		aaaa
	</div>
	<div class="col-xs-6">
		<div class="row">
			<div class="col-xs-8">
				
			</div>
			<div class="col-xs-4">
				
			</div>

		</div>
	</div>
	<div class="col-xs-3">
		aaaa
	</div>
</div>


