
<script type="text/javascript">
$( document ).ready(function() {
	$("body").css("background","#121314");
	$("body").css("color","white");
	if ($(".nav-desktop").length) {
		if(parseInt($("body").width())<400){
            $(".nav-desktop").css("position","fixed")
      	}else{
			$(".nav-desktop").css("position","absolute");
		}
	}; 
	initTabs();
	initSearchResult();
	//search_posts("");
	console.log("voy::"+$("body").width())
setTimeout(function(){
	if(parseInt($("body").width())>400){
		$(".principal-container").css("top",parseInt($('header').height())-20)
	}else{
		$(".principal-container").css("top",parseInt($('header').height())+10)

	}
},500);

});
</script>
<header class="header">
	<div class="row">
		<div class="col-xs-0 col-sm-0 col-md-1 col-lg-1 "></div>
		<div class="col-xs-12 col-sm-12 col-xs-10 col-lg-10 ">
			<img src="/photo_store/volante.png">
		</div>
		<div class="col-xs-0 col-sm-0 col-md-1 col-lg-1 "></div>
	</div>
</header>
<div class="row principal-container" >

	<div class="col-xs-0 col-sm-1 col-md-2 col-lg-3">
	</div>
	<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
		<ul class="tab">
			<li class="active"><a href="#news" class="tablinks tbl-news"> BLOG</a></li>
			<li><a href="#updates" class="tablinks tbl-updates"> UPDATES</a></li>
		</ul>
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 no-padding-right-sm">
				<div class="posts-container" id="tabs-container">
					<div class="no-results">No existen entradas de este tipo</div>
					<div id="news" class="tab-content content-tab-news">
					 	
					</div>
					<div id="updates" class="tab-content content-tab-updates">
						
					 </div>
					<div class="loading-container">
						<img src="/photo_store/ajax-loader.gif">
					</div>	
				</div>
				<div class="buttons-paginate">
					<div class="row">
						<div class="col-xs-6">
							<div class="paginate-previus f-l"> <a href="">← Entradas m&aacute;s antiguas</a></div>
						</div>
						<div class="col-xs-6">
							<div class="paginate-nexts f-r"><a href="">Entradas m&aacute;s recientes →</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="hidden-xs col-sm-4 col-md-4 col-lg-4 no-padding-left">
				<div class="link-network"><a href="https://www.google.co.ve/" target="_blank"><img class="img-network" src="/photo_store/btn_network.jpg"></img></a></div>
				<div class="link-advertising"><a href="<%=Advertising.all.first.link_url%>"><img class="img-advertising" src="<%=Advertising.all.first.img_url%>"></img></a>
			 	<%if current_user and current_user.admin?%>
				 	<div class="buttons">
					 	<a type="button" class="btn btn-default f-r" href="<%=edit_admin_advertising_path(Advertising.all.first)%>">
					 		<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					 	</a>
				 	</div>
			 	<%end%> 
				</div>
				<div class="box-searching">
					<div>
						<div class="input-group mdn-header-options-search">
						  <span class="input-group-btn mdn-glyp">
						    <span class="icon-mdn_search mdn-ico"></span>
						  </span>
						  <input type="text" class="form-control input-search" name="search" placeholder="Marca, Modelo o Edición"/>
						  <span class="input-group-btn" style="width: 60px;">
						    <button class="btn btn-default button-search btn-search" type="button">BUSCAR</button>
						  </span>
						</div>
						<div class="title-search">ARCHIVO</div> 
						<div class="searching-result">
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="col-xs-0 col-sm-1 col-md-2 col-lg-3">
	</div>
</div>




<div class="post-container template hidden">
 	<a class="title text-searched"></a>
 	<h4 class="subtitle text-searched"></h3>
 	<h4 class="fecha_c"></h3>
 	<div class="container-image-post">
 		<img class="post-img" src="" alt="">
 	</div>
 	<%if current_user and current_user.admin?%>
	 	<div class="buttons">
		 	<a type="button" data-confirm="¿Estás seguro/a?" rel="nofollow" data-method="delete"  style="color:red;" class="btn btn-default f-l delete" aria-label="Left Align" > 
		 		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		 		Eliminar
		 	</a>
		 	<a type="button" class="btn btn-default f-r edit" >
		 		<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
		 		Editar
		 	</a>
	 	</div>
 	<%end%> 
	 	<p class="description text-searched"></p>
		<hr> 
</div>