/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
    font-family: my_custom_font;
    src: url(/bootstrap/fonts/Arial-Rounded-MT-Regular.ttf);
}

@media (min-width: 800px) {
	.no-padding-right-sm{
		padding-right: 0;
	}
	.no-padding-left-sm{
		padding-left: 0;
	}

}
@media (max-width: 800px) {


}

body{
	font-family: my_custom_font!important;
}
.no-padding-right{
	padding-right: 0;
}
.no-padding-left{
	padding-left: 0;
}

.f-r{
	float: right;
}
.f-l{
	float: left;
}
header.header{
    position: absolute;
    top: 0;
}
header.header img{
	width: 100%;
}
/* header.header img{
    width: 100%;
    height: 270px;
   	padding-left: 150px;
    padding-right: 150px;
}
*/
.principal-container{
	position: relative;
	top: 240px;
	margin-bottom: 50px;
}
.posts-container{
	background-color: #1b1c20;
	min-height: 300px;
	padding: 10px 10px 10px 10px;
}
.posts-container.state-loading{
	text-align: center;
    display: table;
    width: 100%;
}

.loading-container{
    display: table-cell;
    vertical-align: middle;
}

.container-image-post{
	border:2px solid #474748;

}
.img-network,.img-advertising{
	width: 100%;
	cursor: pointer;
}

.link-network,.link-advertising{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.box-searching{
	background-color: #229f8f;
	min-height: 300px;
	padding: 15px 0px 0px 0px;
}
.box-searching .input-group{
    margin: 0px 15px 0px 15px;
}

.box-searching .input-group input{
    margin: 0;
}

.input-searching{
	height: 25px!important;
	border-radius: 8px 0 0 8px;
	padding-left: 2px;
	margin: 0px 15px 0px 15px;
}
.btn-search{
	background-color: #f59a2b;
	color:white;
	height: 25px;
    border-radius: 0 8px 8px 0;
    font-size: 9px;	
	letter-spacing: 2px;
    padding: 5px;
    font-family: Tahoma;
}
.btn-search:hover{
	background-color: #BF7B19;
	color:white;
}

input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}


footer{
	left:0px;
	bottom:0px;
	height:60px;
	width:100%;
	z-index: 2;
	background-color: #ffaa35;	
	padding-top: 6px;
    position: relative;
    top: 200px;
}

footer p{
	font-size: 8px;
    line-height: 11px;
   	font-family: my_custom_font!important;

}
nav.nav-desktop{
	 z-index: 1;
    display: block;
    width: 100%;
    background-color: rgba(248, 248, 248, 0.78);
}
.img-upload{
	width: 300px;
}

.post-img{
	width: 100%;
}




ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(241, 241, 241, 0);
    margin-top: -3px;
}

/* Float the list items side by side */
ul.tab li {
	float: left;
	position: absolute;
    top: -30px;
    z-index: 0;
    border-bottom: 5px solid orange;
	background: rgba(255,170,51,1);
	background: -moz-linear-gradient(top, rgba(255,170,51,1) 0%, rgba(186,111,20,1) 0%, rgba(255,170,51,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,170,51,1)), color-stop(0%, rgba(186,111,20,1)), color-stop(100%, rgba(255,170,51,1)));
	background: -webkit-linear-gradient(top, rgba(255,170,51,1) 0%, rgba(186,111,20,1) 0%, rgba(255,170,51,1) 100%);
	background: -o-linear-gradient(top, rgba(255,170,51,1) 0%, rgba(186,111,20,1) 0%, rgba(255,170,51,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,170,51,1) 0%, rgba(186,111,20,1) 0%, rgba(255,170,51,1) 100%);
	background: linear-gradient(to bottom, rgba(255,170,51,1) 0%, rgba(186,111,20,1) 0%, rgba(255,170,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaa33', endColorstr='#ffaa33', GradientType=0 );
}
ul.tab li:hover {
	color: black
}

ul.tab li.active,ul.tab li.active:hover{
    border-bottom: 0;
	background: rgba(5,5,5,1);
	background: -moz-linear-gradient(top, rgba(5,5,5,1) 0%, rgba(0,0,0,1) 21%, rgba(173,173,173,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(5,5,5,1)), color-stop(21%, rgba(0,0,0,1)), color-stop(100%, rgba(173,173,173,1)));
	background: -webkit-linear-gradient(top, rgba(5,5,5,1) 0%, rgba(0,0,0,1) 21%, rgba(173,173,173,1) 100%);
	background: -o-linear-gradient(top, rgba(5,5,5,1) 0%, rgba(0,0,0,1) 21%, rgba(173,173,173,1) 100%);
	background: -ms-linear-gradient(top, rgba(5,5,5,1) 0%, rgba(0,0,0,1) 21%, rgba(173,173,173,1) 100%);
	background: linear-gradient(to bottom, rgba(5,5,5,1) 0%, rgba(0,0,0,1) 21%, rgba(173,173,173,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050505', endColorstr='#adadad', GradientType=0 );
}


/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 3px 8px 3px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 12px;
    letter-spacing: 4px;
    padding-top: 6px;
    padding-bottom: 0px;
}
ul.tab li.active a {
    padding: 3px 8px 3px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background: initial;
    color:black;
}
ul.tab li.active a:hover {
    background: initial;
    color:white;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {

}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}



.title{
	color:#ffaa35;
	font-size: 18.4px;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-weight: bold;
}
.subtitle{
	font-size: 13.29px;
	color:#f8f9fb;
}
.fecha_c{
    font-size: 12px;
	color:#f8f9fb;

}



.description{
    overflow: auto;	
	font-size: 12px;
    font-family: my_custom_font;
    margin-top: 10px;
    text-align: justify;
}

.buttons{
	height: 50px;
    position: relative;
    margin-top: -50px;
}

.buttons a.delete,.buttons a.edit{
	margin: 5px;
    width: 100px;
    background: rgba(244, 244, 244, 0.6);
}
.buttons a.delete:hover,.buttons a.edit:hover{
	margin: 5px;
    width: 100px;
    background: rgba(244, 244, 244);
}

.glyphicon{
    float: left;
    margin-top: 2px;
}

.title-search{
    margin-top: 25px;
    letter-spacing: 8px;
    text-align: left;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.8);
    font-weight: 900;
	padding: 0px 15px 0px 15px;

}


.searching-result{
	margin-top: 8px;
}

.row-result p{
	padding: 4px 15px 4px 15px;
	margin-bottom: 0px
}
.row-result a,.row-result a:hover{
	color: white;
	text-decoration: none;
}

.row-result:hover{
	background: #25756B;
}


.searching-title{
	font-size: 13px;
}
.searching-subtitle{
	font-size: 11px;
}

.container{
	position: relative;
	margin-bottom: 1px;
}
.text-searched b{
	color: #ffaa35;
}
.nicEdit-main{
    background-color: black;
    color:white;
    padding-left: 15px;
    padding-right: 15px;
}