/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.no-padding-right{
	padding-right: 0
}
.no-padding-left{
	padding-left: 0
}
header.header{
    position: absolute;
    top: 0;
}
 header.header img{
    width: 100%;
    height: 270px;
   	padding-left: 150px;
    padding-right: 150px;
}
.principal-container{
	position: relative;
	top: 190px;
	margin-bottom: 50px;
}
.posts-container{
	background-color: #1b1c20;
	min-height: 300px;
	padding: 10px 10px 10px 10px;
}


.container-image-post{
	border:1px solid white;

}
.img-network,.img-advertising{
	width: 100%;
	cursor: pointer;
}

.link-network,.link-advertising{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.box-searching{
	background-color: #229f8f;
	height: 300px;
	padding: 15px 15px 15px 15px;
}
.input-searching{
	height: 25px!important;
	border-radius: 8px 0 0 8px;
	padding-left: 2px;
}
.btn-search{
	background-color: #f59a2b;
	color:white;
	height: 25px;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0 8px 8px 0;
    font-size: 9px;	
}
.btn-search:hover{
	background-color: #BF7B19;
	color:white;
}

input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}


footer{
	position:fixed;
	left:0px;
	bottom:0px;
	height:70px;
	width:100%;
	z-index: 2;
	background-color: #ffaa35;	
}

nav.nav-desktop{
	 z-index: 1;
    display: block;
    width: 100%;
    background-color: rgba(248, 248, 248, 0.78);
}
.img-post{
	width: 300px;
}



ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(241, 241, 241, 0);
}

/* Float the list items side by side */
ul.tab li {
	float: left;
	background: rgba(255,170,51,1);
	background: -moz-linear-gradient(top, rgba(255,170,51,1) 0%, rgba(237,197,145,1) 51%, rgba(255,170,51,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,170,51,1)), color-stop(51%, rgba(237,197,145,1)), color-stop(100%, rgba(255,170,51,1)));
	background: -webkit-linear-gradient(top, rgba(255,170,51,1) 0%, rgba(237,197,145,1) 51%, rgba(255,170,51,1) 100%);
	background: -o-linear-gradient(top, rgba(255,170,51,1) 0%, rgba(237,197,145,1) 51%, rgba(255,170,51,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,170,51,1) 0%, rgba(237,197,145,1) 51%, rgba(255,170,51,1) 100%);
	background: linear-gradient(to bottom, rgba(255,170,51,1) 0%, rgba(237,197,145,1) 51%, rgba(255,170,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaa33', endColorstr='#ffaa33', GradientType=0 );	
}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}