<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

  <%= csrf_meta_tags %>


</head>
<body>

<%= yield %>

<footer align="center">
<span ><b>MyDealer™</b> y <b>MyDealer Network™</b> son marcas registradas <br> de buildingSoftware JE, SRL. Todos los derechos reservados. <br>© buildingSoftware 2016</span>
</footer>

</body>
</html>
